# <div align="center">이산수학 중간고사 대비</div>

### random
1. 랜덤으로 정수를 출력하는 함수 (숫자 중복)
2. 랜덤으로 정수를 출력하는 함수 (숫자 중복x)
3. 랜덤으로 정수를 중복없이 출력하는 함수

In [1]:
# 1. 랜덤으로 정수를 출력하는 함수 (숫자 중복)
import random

random_list = []
for i in range(5):
    random_list.append(random.randint(0, 4)) # 0(포함) ~ 4(포함) 중 한개를 출력

print("type = ", type(random_list))
print("list = ", random_list)

type =  <class 'list'>
list =  [0, 2, 1, 3, 3]

In [2]:
# 2. 랜덤으로 정수를 출력하는 함수 (숫자 중복x)
import random

random_list = []
check_int = 0

for i in range(5):
    check_int = random.randint(0, 4)
    while(check_int in random_list):
        check_int = random.randint(0, 4)
    random_list.append(check_int)

print("type = ", type(random_list))
print("list = ", random_list)

type =  <class 'list'>
list =  [1, 4, 0, 2, 3]

In [3]:
# 3. 랜덤으로 정수를 중복없이 출력하는 함수 
import random
 
random_list = random.sample(range(0, 5), 4) # 0(포함) ~ 5(포함) 중 4개를 중복없이 출력

print("type = ", type(random_list))
print("list = ", random_list)

type =  <class 'list'>
list =  [1, 0, 3, 2]

### 파일 입출력 함수
1. 입력 : with 활용
2. 출력 : 한줄만/ 여러줄/ 공백 없이

In [4]:
# 1. 입력
f = open('t1.txt','w')
f.write('hi python\n')
f.write('hi python\n')
f.close()

In [5]:
# with문을 이용해 파일에 값을 입력하기
# with문을 이용하면 close를 생략한다.
with open("t1.txt", "w") as f:
    f.write('hi python\n')
    f.write('hi python\n')

In [6]:
# 2. 출력 1줄만 읽기 

f = open("t1.txt", 'r')
# f = open("t1.txt")
line = f.readline()
print(line)
f.close()

hi python

In [7]:
# 2. 모든 줄을 다 읽기
f = open("t1.txt", 'r')
# f = open("t1.txt")

while True:
    line = f.readline()
    if not line: break
    print(line)
    
f.close()

hi python

hi python

In [8]:
# 2. readlines() 함수 이용해서 읽기
f = open("t1.txt", 'r')
lines = f.readlines()
print("type of lines = ", type(lines))
print("lines = ", lines)
for line in lines:
    print(line)
f.close()

type of lines =  <class 'list'>
lines =  ['hi python\n', 'hi python\n']
hi python

hi python

In [9]:
# 2. 읽을때 \n 이 포함되지 않도록 하기
f = open("t1.txt", 'r')
lines = f.readlines()
for line in lines:
    line = line.strip() 
    print(line)
f.close()

hi python
hi python

In [10]:
# 2. 파일의 전체내용 저장하기
f = open("t1.txt", 'r')
data = f.read()
print("type of data =", type(data))
print(data)
f.close()

type of data = <class 'str'>
hi python
hi python

### set
1. set 정의는 {}, set() 함수를 이용한다.
2. set 특징 : 중복이 삭제된다. sympy 활용
3. set iteration(반복)
4. set operations : set 연산자
5. file에 적용하여 operations 응용
6. change items (원소 변경은 불가능, 추가 삭제 가능)
7. Frozen set (데이터가 고정되어 있는 data)
8. Power set (멱집합)

In [11]:
# 1. set 정의 
set_A = {1,2,3}
set_B = set(['a', 'b', 'c', 'd'])
set_P = { n for n in range(10) if n%2 == 1} # 0(포함) ~ 9(포함) 중 2로 나누었을 때 나머지가 1인 값

print("set_A = ", set_A)
print("type of set_A = ", type(set_A))
print("set_B = ", set_B)
print("type of set_B = ", type(set_B))
print("set_P = ", set_P)
print("type of set_P = ", type(set_P))

set_A =  {1, 2, 3}
type of set_A =  <class 'set'>
set_B =  {'c', 'd', 'a', 'b'}
type of set_B =  <class 'set'>
set_P =  {1, 3, 5, 7, 9}
type of set_P =  <class 'set'>

In [12]:
# set안에 set이 있어 오류 발생# 2. set 특징
# 함수에 적용 가능하다.
from sympy import *

x = Symbol("x")
set_A = set(solve(x**2 - 5*x + 6))

print("set_A = ", set_A)
print("type of set_A = ", type(set_A))

# 중복이 제거된다.
set_A = {1, 2, 2, 3, 4, 4}
print("set_A = ", set_A)
print("type of set_A = ", type(set_A))

# 리스트를 set에 넣어도 제거된다. 
temp_list = [1, 2, 2, 3, 4, 4]
set_A = set(temp_list)
print("temp_list = ", temp_list)
print("type of temp_list = ", type(temp_list))
print("set_A = ", set_A)
print("type of set_A = ", type(set_A))

# set은 1차원이여야 하면 원소로 set, list 가 올 수 없다.
set_A = {1, 2, "hello", 'world'} # set안에 type이 달라도 괜찮다.
print("set_A = ", set_A)

set_A = {1, 2, {3, 4}} # set안에 set이 있어 오류 발생
print("set_A = ", set_A) 

set_A = {1, 2, [3, 4]} # set안에 list가 있어 오류 발생
print("set_A = ", set_A)

set_A =  {2, 3}
type of set_A =  <class 'set'>
set_A =  {1, 2, 3, 4}
type of set_A =  <class 'set'>
temp_list =  [1, 2, 2, 3, 4, 4]
type of temp_list =  <class 'list'>
set_A =  {1, 2, 3, 4}
type of set_A =  <class 'set'>
set_A =  {1, 2, 'hello', 'world'}

TypeError: unhashable type: 'set'

In [13]:
# 3. set iteration 사용
cities = { "London", "Paris", "Vienna", "Istanbul" }
for place in cities:
    print(place)

# 다른 방법 list로 변환후 적용한다.
cities_list = list(cities)
for index in range(0, len(cities)):
    print(cities_list[index])

Paris
Istanbul
London
Vienna
Paris
Istanbul
London
Vienna

In [14]:
# 4. set operations : set 연산자
set_A = {1, 2, 3}
set_B = {4, 5, 6}
set_C = {'a', 'b', 'c'}
set_D = {1, 2, 3, 'a', '4'}

# in / not in
if 1 in set_A:
    print("1 in set_A")
else:
    print("1 is not in set_A")
    
if 1 in set_B:
    print("1 in set_B")
else:
    print("1 is not in set_B")

# 포함한다 < / <= 의 차이
print("set_A < set_A =", set_A < set_A) # 주목
print("set_A < set_B =", set_A < set_B)     
print("set_A < set_D =", set_A < set_D)     
    
print("set_A <= set_A =", set_A <= set_A) # 주목
print("set_A <= set_B =", set_A <= set_B)     
print("set_A <= set_D =", set_A <= set_D)

# 합집합(|) / 교집합(&) / 차집합(-)
print("set_A | set_B = ", set_A|set_B)
print("set_A | set_C = ", set_A|set_C)
print("set_A | set_D = ", set_A|set_D)

print("set_A & set_B = ", set_A&set_B) # set()은 없다는 의미이다.
print("set_A & set_C = ", set_A&set_C)
print("set_A & set_D = ", set_A&set_D)

print("set_A - set_B = ", set_A-set_B)
print("set_A - set_C = ", set_A-set_C)
print("set_A - set_D = ", set_A-set_D)

1 in set_A
1 is not in set_B
set_A < set_A = False
set_A < set_B = False
set_A < set_D = True
set_A <= set_A = True
set_A <= set_B = False
set_A <= set_D = True
set_A | set_B =  {1, 2, 3, 4, 5, 6}
set_A | set_C =  {1, 2, 3, 'c', 'a', 'b'}
set_A | set_D =  {1, 2, 3, 'a', '4'}
set_A & set_B =  set()
set_A & set_C =  set()
set_A & set_D =  {1, 2, 3}
set_A - set_B =  {1, 2, 3}
set_A - set_C =  {1, 2, 3}
set_A - set_D =  set()

In [15]:
# 5. file에 적용하여 operations 응용
def setOfNames(fileName):
    return { line.strip()
        for line in open(fileName) }

year4 = setOfNames("year4.txt")
cs = setOfNames("CS.txt")
ee = setOfNames("ee.txt")
goodGrades = setOfNames("GoodGrades.txt")
candidates = year4 & (cs | ee) & goodGrades
print("type of year4 = ", type(year4))
print("type of cs = ", type(cs))
print("type of ee = ", type(ee))
print("type of goodGrades = ", type(goodGrades))
for student in candidates:
    print(student)

type of year4 =  <class 'set'>
type of cs =  <class 'set'>
type of ee =  <class 'set'>
type of goodGrades =  <class 'set'>
Elizabeth
Tom
John

In [16]:
# 6. Change items
# add / update / remove items/ clear
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")
print(thisset)

thisset.update(["orange", "mango", "grapes"])
print(thisset)

thisset.remove("banana")
print(thisset)

thisset.clear()
print(thisset)

{'orange', 'cherry', 'banana', 'apple'}
{'grapes', 'mango', 'apple', 'orange', 'cherry', 'banana'}
{'grapes', 'mango', 'apple', 'orange', 'cherry'}
set()

In [17]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [18]:
# 7.Frozen set
s1 = frozenset()              # 빈 집합

s2 = frozenset((0, 1, 2, 3))  # 튜플로 집합을

s3 = frozenset([0, 1, 2, 3])  # 목록으로 집합을

s4 = frozenset({0, 1, 2, 3})  # 딕셔너리도 가능

s5 = frozenset(range(4))      # 반복자로 집합을

print("type of s1 =", type(s1))
print("s1 =", s1)
print("type of s2 =", type(s2))
print("s2 =", s2)
print("type of s3 =", type(s3))
print("s3 =", s3)
print("type of s4 =", type(s4))
print("s4 =", s4)
print("type of s5 =", type(s5))
print("s5 =", s5)

# 추가 제거 기능이 안된다.
s3.add("orange")
print(thisset)

s3.remove("banana")
print(thisset)

type of s1 = <class 'frozenset'>
s1 = frozenset()
type of s2 = <class 'frozenset'>
s2 = frozenset({0, 1, 2, 3})
type of s3 = <class 'frozenset'>
s3 = frozenset({0, 1, 2, 3})
type of s4 = <class 'frozenset'>
s4 = frozenset({0, 1, 2, 3})
type of s5 = <class 'frozenset'>
s5 = frozenset({0, 1, 2, 3})

AttributeError: 'frozenset' object has no attribute 'add'

In [19]:
# 8.Power set(멱집합)
# 파이썬에서 멱집합을 내장 지원하는 메소드나 외장 라이브러리 패키지도 없습니다.

def power_set(items):
    N = len(items)
    for i in range(2 ** N):
        combo = []
        for j in range(N):
            if (i >> j) % 2 == 1:
                combo.append(items[j])
                print("i={},j={},items[{}]={}".format(i,j, j, items[j]))
        yield combo
# >> 1 : 2의 1제곱으로 나눈다.
# >> 2 : 2의 2제곱으로 나눈다.
# << 1 : 2의 1제곱을 곱한다.
# << 1 : 2의 1제곱을 곱한다.

A=['a','b','c']
B=list(power_set(A))
# print(type(B))
print(B)
print(set(B))

i=1,j=0,items[0]=a
i=2,j=1,items[1]=b
i=3,j=0,items[0]=a
i=3,j=1,items[1]=b
i=4,j=2,items[2]=c
i=5,j=0,items[0]=a
i=5,j=2,items[2]=c
i=6,j=1,items[1]=b
i=6,j=2,items[2]=c
i=7,j=0,items[0]=a
i=7,j=1,items[1]=b
i=7,j=2,items[2]=c
[[], ['a'], ['b'], ['a', 'b'], ['c'], ['a', 'c'], ['b', 'c'], ['a', 'b', 'c']]

TypeError: unhashable type: 'list'

In [20]:
# 8.Power set(멱집합)
# 위에 함수와는 완전히 다르다.

def power_set(A):
    items=list(A)
    N = len(items)
    for i in range(2 ** N):
        combo = set() # set으로 선언.
        for j in range(N):
            if (i >> j) % 2 == 1:
                combo.add(items[j])
                print("i={},j={},items[{}]={}".format(i,j, j, items[j]))
        yield combo

A={'a','b','c'}
B=list(power_set(A))
print(B)
print(set(B))

i=1,j=0,items[0]=c
i=2,j=1,items[1]=a
i=3,j=0,items[0]=c
i=3,j=1,items[1]=a
i=4,j=2,items[2]=b
i=5,j=0,items[0]=c
i=5,j=2,items[2]=b
i=6,j=1,items[1]=a
i=6,j=2,items[2]=b
i=7,j=0,items[0]=c
i=7,j=1,items[1]=a
i=7,j=2,items[2]=b
[set(), {'c'}, {'a'}, {'c', 'a'}, {'b'}, {'c', 'b'}, {'a', 'b'}, {'c', 'a', 'b'}]

TypeError: unhashable type: 'set'

### Sequences
1. 시퀀스 개요
2. map / filter / reduce / lambda
3. Tuple (튜플)
4. Cartisian Product (곱집합)

In [21]:
# 1. 시퀀스는 개체들의 순서있는 모임을 의미합니다. 
# 시퀀스 타입에는 string / list / tuople / range / array 등이 있습니다.
# 시퀀스 데이터 타입들은 iterable 객체이며 iter() method를 가지고 있습니다.

tuple_A = (1,2,3,'a')
tuple_B = tuple([1,2,3,4,5])
tuple_C = tuple_A+tuple_B
print(tuple_C)

list_A=['a', 'b', 'c', 'd', 'e']
list_B=list([1,2,3,4])
list_C=list_A+list_B
print(list_C)

s1="hello "
s2="world"
s3=s1+s2
print(s3)

(1, 2, 3, 'a', 1, 2, 3, 4, 5)
['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4]
hello world

In [22]:
%%writefile test.txt
Mac,ME
Paul,CS
Jim,EE
Peter,PHY

Overwriting test.txt

In [ ]:
A=open("test.txt")
print(type(A))
B=next(A)
print(type(B))
print(B.strip()) #strip 은 스트링의 시작 및 끝의 공백(space)을 제거
print(B[0])

<class '_io.TextIOWrapper'>
<class 'str'>
Mac,ME
M

In [23]:
# 2. map / filter / reduce / lambda

def double(x):
    return x*x

print(list(map(double, (2,3,5,7,11))))
print(set(map(lambda x : x * x, range(2,12,2))))
print(tuple(map(double, {2,3,5,7,11})))
print(list(map(double, range(2,12,2))))
print(list(filter(lambda x : x > 0, (2, 3, 0, -5, 7, -11))))

from functools import *

print(reduce(lambda x, y : x + y, [2, 3, 5, 7, 11]))

sum = reduce(lambda x, y : x + y, [2, 3, 5, 7, 11], 7)
print(sum)

[4, 9, 25, 49, 121]
{64, 100, 4, 36, 16}
(4, 9, 25, 49, 121)
[4, 16, 36, 64, 100]
[2, 3, 7]
28
35

In [24]:
# Tuple (튜플)
t1=(123)
print("type of t1 =",type(t1))
print("t1 =", t1)

t2=(123,)
print("type of t2 =",type(t2))
print("t2 =", t2)

t3 = (5, 6)
print("type of t3 =",type(t3))
print("t3 =", t3)

t3[0] = 1 # 튜플은 immutable(불변) 타입

type of t1 = <class 'int'>
t1 = 123
type of t2 = <class 'tuple'>
t2 = (123,)
type of t3 = <class 'tuple'>
t3 = (5, 6)

TypeError: 'tuple' object does not support item assignment

In [25]:
# 튜플에 값 추가하는 방법 
t1 = (1, 2, 3)
t2 = list(t1)
print("type of t2 =", type(t2))
print("t2 =", t2)
t2.append(4)
t1 = tuple(t2)
print("type of t1 =", type(t1))
print("t1 =", t1)

type of t2 = <class 'list'>
t2 = [1, 2, 3]
type of t1 = <class 'tuple'>
t1 = (1, 2, 3, 4)

Cartisian Product<br>
수학에서 Cartisian Product의 각 요소는 튜플로 표현됩니다.<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  The Cartesian Product of two sets A and B, denoted by A × B,  is the set of ordered pairs (a,b) where a ∈ A and b ∈ B .  <br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  $ A X B = \{ (a,b) | a \in A ~\wedge ~b \in B \} $  <br>
</pre>    
파이썬에서는 Cartisian Product 는 다음과 같이 compression 을 이용하여 간단히 구할 수있습니다.

In [26]:
# 4. Cartisian Product (곱집합)
iterable1 = 'ABCD'
iterable2 = 'xy'
iterable3 = '1234'
a = { (a,b,c) for a in iterable1 for b in iterable2 for c in iterable3 }
# 출력할 때 순서대로 값이 들어가지는 않는다.
print(a)
print('------')
a

{('A', 'x', '1'), ('D', 'x', '2'), ('B', 'x', '2'), ('C', 'y', '3'), ('D', 'y', '1'), ('B', 'y', '1'), ('C', 'x', '2'), ('B', 'x', '4'), ('A', 'y', '3'), ('D', 'x', '4'), ('A', 'x', '2'), ('C', 'x', '4'), ('C', 'y', '1'), ('D', 'y', '2'), ('B', 'y', '2'), ('A', 'x', '4'), ('A', 'y', '1'), ('B', 'y', '4'), ('D', 'y', '4'), ('C', 'y', '2'), ('D', 'x', '3'), ('B', 'x', '3'), ('C', 'x', '3'), ('A', 'y', '2'), ('C', 'y', '4'), ('A', 'x', '3'), ('A', 'y', '4'), ('B', 'x', '1'), ('D', 'x', '1'), ('D', 'y', '3'), ('B', 'y', '3'), ('C', 'x', '1')}
------

{('A', 'x', '1'),
 ('A', 'x', '2'),
 ('A', 'x', '3'),
 ('A', 'x', '4'),
 ('A', 'y', '1'),
 ('A', 'y', '2'),
 ('A', 'y', '3'),
 ('A', 'y', '4'),
 ('B', 'x', '1'),
 ('B', 'x', '2'),
 ('B', 'x', '3'),
 ('B', 'x', '4'),
 ('B', 'y', '1'),
 ('B', 'y', '2'),
 ('B', 'y', '3'),
 ('B', 'y', '4'),
 ('C', 'x', '1'),
 ('C', 'x', '2'),
 ('C', 'x', '3'),
 ('C', 'x', '4'),
 ('C', 'y', '1'),
 ('C', 'y', '2'),
 ('C', 'y', '3'),
 ('C', 'y', '4'),
 ('D', 'x', '1'),
 ('D', 'x', '2'),
 ('D', 'x', '3'),
 ('D', 'x', '4'),
 ('D', 'y', '1'),
 ('D', 'y', '2'),
 ('D', 'y', '3'),
 ('D', 'y', '4')}

In [27]:
# 파이썬에서는 cartisian product는 itertools 모듈을 이용하여 간단히 구할 수 있다.
import itertools

iterable1 = 'ABCD'
iterable2 = 'xy'
iterable3 = '1234'
q=itertools.product(iterable1, iterable2, iterable3)
# print(set(q))    출력이 달라짐 .. ?
# print('------')
set(q)

{('A', 'x', '1'),
 ('A', 'x', '2'),
 ('A', 'x', '3'),
 ('A', 'x', '4'),
 ('A', 'y', '1'),
 ('A', 'y', '2'),
 ('A', 'y', '3'),
 ('A', 'y', '4'),
 ('B', 'x', '1'),
 ('B', 'x', '2'),
 ('B', 'x', '3'),
 ('B', 'x', '4'),
 ('B', 'y', '1'),
 ('B', 'y', '2'),
 ('B', 'y', '3'),
 ('B', 'y', '4'),
 ('C', 'x', '1'),
 ('C', 'x', '2'),
 ('C', 'x', '3'),
 ('C', 'x', '4'),
 ('C', 'y', '1'),
 ('C', 'y', '2'),
 ('C', 'y', '3'),
 ('C', 'y', '4'),
 ('D', 'x', '1'),
 ('D', 'x', '2'),
 ('D', 'x', '3'),
 ('D', 'x', '4'),
 ('D', 'y', '1'),
 ('D', 'y', '2'),
 ('D', 'y', '3'),
 ('D', 'y', '4')}

### Functions in Python

In [28]:
# 리턴이 없는 함수
def func0():   
    print("test")

func0()

# 리턴이 있는 함수
def square(x):
    """
    Return the square of x.
    """
    return x ** 2

print("square(4) = ", square(4))

# 리턴이 여러개인 함수
def powers(x):
    """
    Return a few powers of x.
    """
    return x ** 2, x ** 3, x ** 4

# 리턴이 여러개인데 한번에 받으면 튜플이 된다.
a = powers(3)
print("type of a =", type(a))
print("a =", a)

# 리턴이 여러개 일때 각각의 값을 받을 수 있다.
x2, x3, x4 = powers(3)
print("type of x2, x3, x4 = ", type(x2), type(x3), type(x4))
print("x2, x3, x4 = ", x2, x3, x4)

test
square(4) =  16
type of a = <class 'tuple'>
a = (9, 27, 81)
type of x2, x3, x4 =  <class 'int'> <class 'int'> <class 'int'>
x2, x3, x4 =  9 27 81

In [29]:
# 인자의 초기값을 선언할 수 있다.
def myfunc(x, p=2, debug=False):
    if debug:
        print("evaluating myfunc for x = " + str(x) + " using exponent p = " + str(p))
    return x**p

print("myfunc(5) =", myfunc(5))
print("=========================================================")
print("myfunc(5, debug=True) =", myfunc(5, debug=True)) # 함수 안에 있는 디버깅이 호출됨
# 인자의 이름을 정확히 명시하면 인자의 순서는 상관 없다.
print("=========================================================")
print("myfunc(p=3, debug=True, x=7) =", myfunc(p=3, debug=True, x=7))

myfunc(5) = 25
=========================================================
evaluating myfunc for x = 5 using exponent p = 2
myfunc(5, debug=True) = 25
=========================================================
evaluating myfunc for x = 7 using exponent p = 3
myfunc(p=3, debug=True, x=7) = 343

### lambda 함수

In [30]:
f1 = lambda x: x**2
    
def f2(x):
    return x**2

print(f1(2), f2(2))

print(map(lambda x: x**2, range(-3,4)))
print(list(map(lambda x: x**2, range(-3,4))))

4 4
<map object at 0x7f44cf419760>
[9, 4, 1, 0, 1, 4, 9]

### Arrays in Python

In [31]:
set_A={1,2,3}
for n in set_A:
    print(n)

dictionary_B={'a':1,'b':2, 'c': 3}
for n in dictionary_B:
    print(n)
    
list_C=['p','q','r','s']
for n in list_C:
    print(n)

tuple_D=('alpha', 'beta', 'gamma')
for n in tuple_D:
    print(n)

from numpy import *
qqq = array([6,7,8,9])
for n in qqq:
    print(n)

1
2
3
a
b
c
p
q
r
s
alpha
beta
gamma
6
7
8
9

### Matrices (행렬)

In [32]:
from numpy import *
A=array([[1,2], [3,4]])
B=array([[-1, -1], [1, 2]])
print("A =", A)
print("type of A =", type(A))

print("B =", B)
print("type of B =", type(B))

A = [[1 2]
 [3 4]]
type of A = <class 'numpy.ndarray'>
B = [[-1 -1]
 [ 1  2]]
type of B = <class 'numpy.ndarray'>

In [33]:
A + B

array([[0, 1],
       [4, 6]])

In [34]:
C = matrix(A)
D = matrix(B)
print("type of C =", type(C))
print("C =", C)
print("type of D =", type(D))
print("D =", D)

type of C = <class 'numpy.matrix'>
C = [[1 2]
 [3 4]]
type of D = <class 'numpy.matrix'>
D = [[-1 -1]
 [ 1  2]]

In [35]:
C + D

matrix([[0, 1],
        [4, 6]])

In [36]:
G = matrix([[1,2,3],[4,5,6]])
H = matrix([[1], [2], [-1]])
G*H

matrix([[2],
        [8]])